    /* General Styles */
body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f172a; /* Dark background color */
    color: white; /* Text color */      
}
/* image styling */
img.profile-pic {
    width: 195px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

span {
    color: #a855f7 /* Purple color for span text */
}
/* Navigation Bar */
nav {
    background-color: rgb(40, 49, 53);
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    
}
nav ul li {
    margin-left: 20px;
}
nav a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
   
}
nav a:hover {
    color: #a855f7; /* Purple color on hover */
}
/* Hero Section */
.hero {
    padding: 100px 20px;
    text-align: center;
    background-image: url('Hacker.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
}
.hero h1 {
    font-size: 3rem;
}
.hero p {
    font-size: 1.5rem;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}
.primary {
     background: #a855f7; 
    color: white; 
}

.secondary {
     border: 1px solid #a855f7;
      color: #a855f7; 
    }
.secondary:hover {
    background: black;
    color: white;
    font-weight: bold;
}
.logo {
   background-color: inherit;
   color: whitesmoke;
  margin: 10px;
  padding: 9px;
  display: flex;
  font-weight: bold;
  font-size: 20px;
}